@font-face {
    font-family: myLogoFont;
    src: url(assets/GoldieDreambox.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #121212;
    color: #e7e7e8;
}

img {
    width: 100%;
}

.navbar {
    font-size: 18px;
    background-color: #1e1e1e;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: -1px -3px 8px 0px #e0dede;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links {
    text-decoration: none;
    font-size: 18px;
    color: #e7e7e8;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 32px;
    margin-top: 10px;
    margin-left: 20px;
    color: #e7e7e8;
    font-family: myLogoFont;
    line-height: 28px;
    text-decoration: none;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

.active {
    display: block;
}

main {
    margin: 5rem 2rem 0;
}

.hero {
    margin: 2rem 0;
}

.greeting {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-size: 18px;
    letter-spacing: 1px;
}

.my-info {
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.black-girl {
    width: 200px;
    margin: 0 auto;
    display: flex;
}

.some-works {
    text-align: center;
    font-size: 18px;
    margin: 3rem 0 0;
}

.selected-work {
    margin: 2rem 0;
}

.work-card {
    background-color: #1e1e1e;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 8px;
}

.title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 1rem;
}

.description {
    font-size: 14px;
    padding-bottom: 2rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

.explore {
    display: inline-block;
    text-decoration: none;
    background-color: #1fbd97;
    color: #1e1e1e;
    padding: 10px 20px;
    margin-top: 2rem;
    border-radius: 10px;
    font-size: 14px;
}

.explore:hover {
    color: #1fbd97;
    background-color: #1e1e1e;
}

.explore i {
    padding-left: 0.5rem;
}

/* About page styles */
.introduction {
    background-color: #1e1e1e;
    padding: 2rem 2rem 1rem;
    border-radius: 10px;
}

.contact {
    padding: 3rem 0;
}

.connect {
    font-size: 16px;
    padding-bottom: 2rem;
}

.socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.5rem;
    justify-content: space-between;
}

.social-links {
    display: inline;
    font-size: 12px;
    text-decoration: none;
    color: #e7e7e8;
    background-color: #1e1e1e;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    text-align: center;
}

.social-links:hover {
    color: #1e1e1e;
    background-color: #e7e7e8;
}

@media screen and (max-width: 370px) {
    .socials {
        grid-column-gap: 0;
    }

    .social-links {
        font-size: 10px;
        padding: 8px;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        opacity: 0.5;
    }

    main {
        margin: 7rem 3rem 0;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .text {
        width: 70%;
        padding-right: 2rem;
    }

    .my-info {
        padding-bottom: 1.5rem;
    }

    .black-girl {
        width: 250px;
    }

    .some-works {
        margin: 2.5rem 0 0;
    }

    .work-card {
        display: grid;
        grid-template-columns: 50% 40%;
        grid-column-gap: 10%;
        grid-template-areas:
            'img title'
            'img description'
            'img button';
        align-items: center;
        justify-content: center; /* excess space between title and description */
    }

    .work-card img {
        grid-area: img;
    }

    .title {
        grid-area: title;
    }

    .description {
        grid-area: description;
        padding-bottom: 0;
    }

    .explore {
        grid-area: button;
        width: 70%;
        height: 37px;
    }

    /* About page styles */
    .socials {
        grid-column-gap: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .logo {
        font-size: 48px;
    }

    .nav-links {
        font-size: 24px;
    }

    main {
        margin: 9rem 3rem 0;
    }

    .greeting {
        font-size: 36px;
    }

    .my-info {
        font-size: 24px;
        padding-bottom: 2rem;
        line-height: 43px;
    }

    .black-girl {
        width: 350px;
    }

    .some-works {
        font-size: 24px;
    }

    .selected-work {
        margin: 3rem 0 0;
    }

    .work-card {
        margin: 3rem 0;
        padding: 3rem;
    }

    .title {
        font-size: 28px;
        font-weight: 700;
    }

    .description {
        font-size: 18px;
    }

    .explore {
        font-size: 18px;
        height: 43px;
    }

    /* About page styles */
    .introduction {
        padding: 3rem 3rem 1rem;
    }

    .introduction p {
        font-size: 20px;
    }

    .contact {
        padding: 4rem 0;
    }

    .connect {
        font-size: 24px;
        padding-bottom: 3rem;
    }

    .socials {
        grid-column-gap: 2rem;
    }

    .social-links {
        font-size: 18px;
        padding: 15px;
    }
}

@media screen and (min-width: 1440px) {
    main {
        margin: 9rem 4rem 0;
    }

    .work-card {
        margin: 5rem 0;
        padding: 5rem;
    }

    .explore {
        width: 45%;
    }
}
